# ── Ignore EVERYTHING by default
*

# ── Ignore dotfiles by default
.*

# ── Root
!.gitignore

!compose.yaml

!README.md

!LICENSE

!vercel.json

# ── Backend
!backend/
!backend/*.py
!backend/.dockerignore
!backend/Dockerfile
!backend/requirements.txt

# ── Frontend
!frontend/
!frontend/*.json
!frontend/*.js
!frontend/*.mjs
!frontend/.dockerignore
!frontend/.env.example
!frontend/Dockerfile
!frontend/README.md
!frontend/tsconfig.json
!frontend/next.config.ts
!frontend/next-env.d.ts
!frontend/eslint.config.mjs
!frontend/postcss.config.js
!frontend/postcss.config.mjs
!frontend/tailwind.config.js

!frontend/src/**
!frontend/public/**